* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 10px;
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 1.2rem;
  padding: 20px;
}
.up-side-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: red;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 5vh;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
}
header h1 {
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 3.5rem;
  letter-spacing: 1px;
  margin: 0 auto 5vh auto;
}
.register-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e3e3e3;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.registerIcon {
  width: 25px;
}
.down-side-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 10px;
}
.down-side-container nav ul {
  display: flex;
  text-decoration: none;
  gap: 3vw;
}
.down-side-container nav ul li,
.down-side-container nav ul li a {
  list-style-type: none;
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  cursor: pointer;
}
.down-side-container nav ul li a:hover {
  font-weight: 600;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  margin-left: 10vw;
}
.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}
.searchInput {
  display: none;
  width: 60vw;
  padding: 20px;
  border: 1px solid #e3e3e3;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
.searchInput::placeholder {
  font-size: 1.2rem;
}
.lupeIconButton {
  border: 1px solid #e2e2e2;
}
.lupeIcon {
  width: 25px;
  cursor: pointer;
}
.searchInputButton {
  display: none;
  width: 15vw;
  padding: 20px;
  border-radius: 5px;
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #e3e3e3;
  cursor: pointer;
  font-size: 1.2rem;
}
.searchInputButton:hover {
  color: white;
  font-weight: 600;
  background-color: red;
}
.lupeIconButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.language-selection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #e3e3e3;
  cursor: pointer;
}

main {
  display: flex;
  gap: 10px;
  margin: 0 0 5vh 0;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0 5px 0 0;
}
.content-container {
  display: flex;
  gap: 10px;
  width: 70vw;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.2);
}
.content-container article {
  display: flex;
  flex-direction: column;
}
.source-name {
  padding-top: 5vh;
  font-size: 2rem;
  margin-bottom: 6vh;
}
.content {
  font-size: 1.3rem;
}
.descImage {
  width: 40vw;
}

.description-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  width: 30vw;
  margin-left: 3vw;
}
.title {
  margin-bottom: 3vh;
  font-size: 1.2rem;
}
.description {
  margin-bottom: 12vh;
  font-size: 0.8rem;
}
.author {
  margin-bottom: 2vh;
}
.publishedDate {
  font-size: 0.8rem;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  padding: 10px;
}
.section1,
.descImage1,
.section2,
.descImage2,
.section3,
.descImage3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  width: 25vw;
  height: 30vh;
  font-size: 0.7rem;
}
